.home {
    color: #fff;
    background-color: #0A0076;
}
.mainsite {
    flex: 1;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.mainBox {
    height: fit-content;
}
.tableTitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0px 4px 4px #cacaca;
}
.tableBox {
    width: 850px;
    height: fit-content;
}
.table {
    box-shadow: 0px 4px 4px #cacaca;
}
.userId {
    width: 10%;
}
.userName, .compId {
    width: 15%;
}
.compName {
    width: 35%;
}
.startTime {
    width: 25%;
}