@{
    Layout = "User_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Title>Home</Title>
    <link rel="stylesheet" href="~/css/User/Home.css" asp-append-version="true" />
</head>
<body>
    <main class="mainsite mb-4">
        <div class="mainBox text-center">
            <h1 class="welcome">Welcome!</h1>
            <span class="fs-4">@Context.Session.GetString("Name")</span>
        </div>
    </main>
</body>
</html>
