@model List<InternetCafe.Models.Computer>
@{
    Layout = "User_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Title>List Computer</Title>
    <link rel="stylesheet" href="~/css/User/ListComputer.css" asp-append-version="true" />

</head>
<body>
    <main class="mainsite mb-4">
        <div class="mainBox text-center">
            <span class="tableTitle">LIST COMPUTER</span>
            <div class="tableBox bg-white">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th class="name">Name</th>
                            <th class="cost">Cost</th>
                            <th class="status">Status</th>
                            <th class="choose">Choose</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model) {
                            <tr class="rowItem">
                                <td>@c.Name</td>
                                <td>@c.Cost $</td>
                                @if(@c.Status == true) {
                                    <td>On</td>
                                }
                                else {
                                    <td>Off</td>
                                    <td>
                                    <form asp-action="Home" asp-controller="User" method="get" class="bg-white">
                                        <input type="hidden" name="id" value="@c.Id">
                                        <button type="submit" class="btn chooseBtn">Choose</button>
                                    </form>
                                </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    @section Scripts {
        <script src="~/js/User.cs"></script>
    }
</body>
</html>
