/* _content/InternetCafe/Views/Shared/Manager_Layout.cshtml.rz.scp.css */
*[b-pt7t0uae1y], body[b-pt7t0uae1y] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
  font-family: 'Inria Sans', sans-serif;
}
.webname[b-pt7t0uae1y] {
  color: #0A0076;
  font-size: 40px;
  font-weight: bolder;
}

.headerBar[b-pt7t0uae1y] {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #cacaca;
}
.username[b-pt7t0uae1y] {
  color: #0A0076;
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.menuBar[b-pt7t0uae1y] {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.btn[b-pt7t0uae1y] {
  height: 40px;
  color: #0A0076;
  background-color: #ffffff;
  border-radius: 50px;
}
.btn:hover[b-pt7t0uae1y] {
  background-color: #0A0076;
  color: #fff;
}


.footer-box[b-pt7t0uae1y] {
    
  width: 100%;
  height: 160px;
  background-color: #fff;
}
.contact[b-pt7t0uae1y] {
  height: 52px;
  color: #0A0076;
  font-size: 32px;
  font-weight: bold;
}
.email[b-pt7t0uae1y] {
  height: 21px;
  color: #0A0076;
  font-size: 16px;
}
.facebook[b-pt7t0uae1y] {
  color: #0A0076;
}
.facebook[b-pt7t0uae1y]::after {
  content: "";
  flex: 1;
}
.facebook:not(:empty)[b-pt7t0uae1y]::after {
  margin-left: 89px;
}
