@{
    Layout = "Manager_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/Manager/AddComputer.css">
</head>
<body>
    <main class="mainsite mb-4">
        <div class="mainBox text-center">
            <span class="title">ADD NEW COMPUTER</span>
            <form  asp-action="ListComputer" asp-controller="Manager" method="get">
                <div class="name mt-5">
                    <label class="nameLabel me-5">Name</label>
                    <input type="text" class="nameInput bg-white" required>
                </div>
                
                <div class="cost mt-4">
                    <label class="costLabel me-4">Cost ($)</label>
                    <input type="number" min="0" step="any" class="costInput bg-white" required>
                </div>

                <div class="mt-5">
                    <button class="btn confirmBtn">Confirm</button>
                </div>
            </form>
            <div class="mt-5">
                <form asp-action="ListComputer" asp-controller="Manager" method="get">
                    <button class="btn cancelBtn">Cancel</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>