@{
    Layout = "Manager_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/Manager/Home.css">
</head>
<body>
    <main class="mainsite mb-4">
        <div class="mainBox text-center">
            <span class="tableTitle">LIST USER ACTIVE</span>
            <div class="tableBox bg-white">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th class="userId">User ID</th>
                            <th class="userName">User Name</th>
                            <th class="compId">Computer ID</th>
                            <th class="compName">Computer Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Minh</td>
                            <td>3</td>
                            <td>ASUS ROG</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>