@model List<InternetCafe.Models.Computer>
@{
    Layout = "Manager_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revenue by Computer</title>
    <link rel="stylesheet" href="~/css/Manager/RevenueByComputer.css">
</head>
<body>
    <main class="mainsite mb-4">
        <div class="mainBox text-center">
            <span class="tableTitle">REVENUE</span>
            <div class="revenueBtn mt-2">
                <form asp-action="RevenueByComputer" asp-controller="Manager" method="get">
                    <button class="btn byComp p-0">by Computer</button>
                </form>
                <form asp-action="RevenueByDate" asp-controller="Manager" method="get">
                    <button class="btn byDate p-0">by Datetime</button>
                </form>
            </div>
            <div class="tableBox bg-white">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th class="id">ID</th>
                            <th class="name">Name</th>
                            <th class="cost">Cost</th>
                            <th class="revenue">Revenue</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model) {
                            <tr class="rowItem">
                                <td>@c.Id</td>
                                <td>@c.Name</td>
                                <td>@c.Cost $</td>
                                <td>@c.Revenue $</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>