@model InternetCafe.Models.Computer
@{
    Layout = "Manager_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Computer</title>
    <link rel="stylesheet" href="~/css/Manager/UpdateComputer.css">
</head>
<body>
    <main class="mainsite mb-4">
        <div class="mainBox text-center">
            <span class="title">EDIT COMPUTER</span>
            <form asp-action="ConfirmUpdateComputer" asp-controller="Manager" method="post">
                <div class="name mt-5">
                    <label class="nameLabel me-5">Name</label>
                    <input asp-for="Name" name="name" type="text" class="nameInput bg-white px-2" required>
                </div>
                
                <div class="cost mt-4">
                    <label class="costLabel me-4">Cost ($)</label>
                    <input asp-for="Cost" name="cost" type="number" min="0" step="any" class="costInput bg-white px-2" required>
                </div>

                <div class="mt-5">
                    <input type="hidden" name="id" value="@Model.Id">
                    <button type="submit" class="btn confirmBtn">Confirm</button>
                </div>
            </form>
            <div class="mt-5">
                <form asp-action="ListComputer" asp-controller="Manager" method="get">
                    <button class="btn cancelBtn">Cancel</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>